langchain
ipykernel
langchain-community
pypdf
python-dotenv
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
beautifulsoup4
langchain_community
streamlit
langchain_groq
langchain_core
fastapi
langserve
wikipedia
tiktoken
langchainhub
langgraph
tavily-python
google-generativeai
langchain-google-genai
langchain-nomic
langchain_mistralai
google-search-results 
youtube_search
langchain_pinecone
sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
sentence-transformers==2.2.2
langchain
flask
pypdfcd 
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .